.big_button {
    font-family: 'open-sans-bold';
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 12px;
    padding-top: 12px;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 3px;
    border: none;
    a {
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        color: #1A1917;
    }
}

.button {
    text-align: center;
}