p.big_button {
    a {
        background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
        border-radius: 2.94008px;
        padding-inline-start: 6px;
        padding-inline-end: 14.91px;
        padding-block-start: 11.9px;
        padding-block-end: 15.97px;
        color: #1A1917;
    }
}