@import "./variables/variables";
summary {
    font-size: 21px;
    line-height: 21px;
    letter-spacing: 2px;
    color: #FFB548;
    text-transform: uppercase;
    font-family: 'bebas-neue-bold';
    padding-block-end: 43px;
    padding-block-start: 42px;
}

.feature_text_container {
    padding-inline-start: 116px;
}

@media(min-width: 1114px) {
    .feature_text_container {
        padding-inline-start: calc(809px - 239px);
    }
    summary {
        font-size: 36px;
        line-height: 36px;
    }
}