@import "./variables/variables";
body>footer {
    background-color: rgba(0, 0, 0, 0.822);
}

.footer_wrapper {
    padding-inline-start: $section-padding;
    padding-inline-end: $section-padding;
    padding-block-end: 63px;
    padding-block-start: 26px;
}

footer nav {
    border-bottom: 0.873968px solid $default-text-color;
}

.icon_footer {
    text-align: center;
}

@media(min-width: 1114px) {
    .footer_wrapper {
        max-width: 1114px;
        margin-inline-end: auto;
        margin-inline-start: auto;
    }
    footer nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .link_logo_footer img {
        width: 91px;
        height: 91px;
    }
    .icon_footer {
        text-align: start;
    }
}