@import "./variables/variables";
body>header>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

// .header_container {
//     display: flex;
//     justify-content: space-around;
//     flex-direction: row;
// }
body>header {
    padding-block-start: 9px;
    padding-block-end: 179px;
    padding-inline-start: 15px;
    padding-inline-end: 15px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 931px;
    height: 144.88px;
}

h1 {
    margin: 0;
}

@media (min-width: 1114px) {
    body>header>div {
        margin-inline-start: auto;
        margin-inline-end: auto;
        max-width: 1114px;
    }
}