    @import "./variables/variables";
    body>header .header_wrapper {
        position: absolute;
        left: 0px;
        top: 21px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-block-start: 9px;
    }
    
    h1 {
        margin: 0;
        margin-inline-start: 10px;
        margin-block-start: 5px;
    }
    
    .form ul {
        display: none;
    }
    
    @media (min-width: 1114px) {
        body>header>.header_wrapper {
            margin: auto;
            max-width: 1114px;
            h1 {
                margin-inline-start: 119px;
            }
        }
        .form {
            display: flex;
            ul {
                display: flex;
                padding: 0;
                border-left: 0.873968px solid #cccc;
                li {
                    margin-inline-start: 17px;
                }
            }
        }
        .link_sos_logo svg {
            width: 50px;
            height: 50px;
        }
    }