@import "./variables/variables";
body>header>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

[type="checkbox"] {
    visibility: hidden;
}

body>header .navigation {
    display: none;
    background-color: #cccc;
    transform: translateX(-100%);
    top: 50%;
    left: 100%;
}

body>header {
    padding-block-start: 9px;
    padding-block-end: 179px;
    padding-inline-start: 15px;
    padding-inline-end: 15px;
    background-color: red;
}

h1 {
    margin: 0;
}

input:checked~nav {}