@import "./variables/variables";
.section_masthead {}

.masthead_title {
    font-family: 'bebas-neue-bold';
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
}