@import "./variables/variables";
.section_masthead {
    padding: $mobile-section-padding;
}

.masthead_navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block-start: 156px;
    padding-block-end: 57px;
    .masthead_dropdown {
        display: flex;
        flex-direction: column;
    }
}

.masthead_list_container {
    // background-color: red;
    @include reset-list;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    li {
        padding: 12px;
        a {
            border: 0.97049px solid #FFFFFF;
            width: 12px;
            height: 12px;
            border-radius: 9999px;
            span {
                display: none;
            }
        }
        .current_page {
            background-color: #FFFFFF;
        }
        .arrow_next {
            border: none;
        }
    }
}

.masthead_header {
    font-family: $header-font-bold;
    font-size: 33px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
}

.masthead_title {
    font-family: 'bebas-neue-bold';
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    margin: 0;
    padding-block-start: 7px;
    padding-block-end: 7px;
}

@media (min-width: 1114px) {
    .masthead_navigation {
        justify-content: center;
        padding-block-start: 143px;
        padding-block-end: 64px;
    }
    .masthead_list_container {
        display: none;
    }
    .masthead_header {
        font-size: 80px;
        line-height: 80px;
    }
    .masthead_dropdown {
        display: block;
        text-align: center;
    }
}