@import "./variables/variables";
.link_icon__lists {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

@media (min-width: 1114px) {
    .link_icon__lists {
        margin: 0;
    }
    .nav_icon_container {
        ul {
            margin-block-start: 43px;
        }
    }
}