@import "./variables/variables";
.section_newsletter {
    padding-inline-end: 15px;
    padding-inline-start: 15px;
    padding-block-start: 33px;
    padding-block-end: 61px;
    // background-color: rgba(0, 0, 0, 0.918);
    background: linear-gradient(145deg, rgba(255, 225, 225, 0), black), url(../img/newsletter.png), linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0, -10px 80%;
}

.newsletter_wrapper {}

.newsletter {
    padding-inline-start: calc((230px / 2) + 15px);
}

@media (min-width: 1114px) {
    .newsletter_wrapper {
        max-width: 1114px;
        margin: auto;
        padding-block-end: 49px;
    }
    .newsletter {
        padding-inline-start: 600px;
        padding-block-start: 220px;
    }
    .section_newsletter {
        padding: 0;
        background-image: radial-gradient(45.43% 53.19% at 50% 50%, rgba(255, 225, 225, 0) 0%, rgba(0, 0, 0, 0) 46.15%, #080A0B 99.74%), url(../img/newsletter_bg.png), linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
        background-repeat: no-repeat;
        background-position: -90% 20%, -90% 30%, 0 0;
        background-size: cover;
    }
}