@import "./variables/variables";
.subscribe_form {
    padding: 0;
    li:nth-of-type(1) {
        background-color: rgba(255, 255, 255, 0.08);
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        margin-block-start: 16px;
        margin-block-end: 16px;
    }
}

label {
    color: $default-text-color;
    mix-blend-mode: normal;
    opacity: 0.5;
    border-radius: 4px;
    font-size: 12px;
    line-height: 16px;
}

label,
input {
    padding-block-start: 3px;
    padding-block-end: 3px;
    padding-inline-start: 16px;
}

input {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

::placeholder {
    font-size: 14px;
    line-height: 19px;
    color: #FFB548;
}

@media (min-width: 1114px) {
    label {
        font-size: 14px;
        line-height: 19px;
    }
     ::placeholder {
        font-size: 18px;
        line-height: 25px;
    }
    label,
    input {
        padding-block-start: 6px;
        padding-block-end: 6px;
        padding-inline-start: 21px;
        padding-inline-end: 60px;
    }
    .subscribe_form {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        li:nth-of-type(1) {
            margin-block-start: 0;
            margin-block-end: 0;
            margin-inline-start: 10px;
        }
        li:nth-of-type(2) {
            margin-inline-start: 10px;
        }
    }
}