@import "./variables/variables";
.quotes_section {
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}

.quotes_wrapper {
    padding-inline-end: $section-padding;
    padding-inline-start: $section-padding;
    padding-block-start: 38px;
    padding-block-end: 46px;
}

@media (min-width: 1114px) {
    .quotes_wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 1114px;
        margin-inline-end: auto;
        margin-inline-start: auto;
        column-gap: 166px;
        padding-block-start: 0;
    }
    .quotes_information {
        padding-block-start: 303px;
        .medium_button {
            text-align: start;
            margin-block-start: 37px;
        }
    }
    .all_quotes {
        padding-block-start: 159px;
        div:nth-of-type(2) {
            transform: translateX(-25%);
        }
        div:nht-of-type(3) {
            transform: translateX(-25% / 2);
        }
    }
}