@import "./variables/variables";
p {
    padding-block-end: 12px;
    padding-block-start: 5px;
    color: #FFFFFF;
}

h2 {
    padding-block-end: 22px;
}

h2,
p {
    margin: 0;
}

.question_header {
    @include small-title-style;
}

.section_heading {
    @include big-header-style;
}

.article_text {
    @include texts-style;
}

@media (min-width: 1114px) {
    .question_header {
        @include deskt-title-style;
    }
    .section_heading {
        @include desk-header;
    }
    .article_text {
        @include deskt-text-style;
    }
}