@font-face {
  font-family: 'open-sans-bold';
  font-weight: 600;
  font-style: normal;
  src: url(../fonts/open-sans-bold.woff) format("woff"), url(../webroot/fonts/open-sans-bold.woff2) format("woff2"); }

@font-face {
  font-family: 'open-sans';
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/open-sans-regular.woff) format("woff"), url(../fonts/open-sans-regular.woff2) format("woff2"); }

@font-face {
  font-family: 'bebas-neue-regular';
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/bebas-neue-regular.woff) format("woff"), url(../fonts/bebas-neue-regular.woff2) format("woff2"); }

@font-face {
  font-family: 'bebas-neue-bold';
  font-weight: 600;
  font-style: normal;
  src: url(../fonts/bebas-neue-bold.woff) format("woff"), url(../fonts/bebas-neue-bold.woff2) format("woff2"); }

.section_masthead {
  padding: 15px; }

main > header {
  background-image: url(../img/bg-big-image-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 34% 40%; }

.masthead_navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-block-start: 156px;
  padding-block-end: 57px; }
  .masthead_navigation .masthead_dropdown {
    display: flex;
    flex-direction: column; }

.masthead_list_container {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .masthead_list_container li {
    padding: 12px; }
    .masthead_list_container li a {
      border: 0.97049px solid #FFFFFF;
      width: 12px;
      height: 12px;
      border-radius: 9999px; }
      .masthead_list_container li a span {
        display: none; }
    .masthead_list_container li .current_page {
      background-color: #FFFFFF; }
    .masthead_list_container li .arrow_next {
      border: none; }

.masthead_header {
  font-size: 33px;
  line-height: 33px;
  font-family: "bebas-neue-bold";
  letter-spacing: 2px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-block-start: 389px; }

.masthead_title {
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: "bebas-neue-bold";
  text-align: center;
  margin: 0;
  padding-block-start: 7px;
  padding-block-end: 7px; }

@media (min-width: 1114px) {
  .masthead_navigation {
    justify-content: center;
    padding-block-start: 143px;
    padding-block-end: 64px; }
  .masthead_list_container {
    display: none; }
  .masthead_header {
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 3px; }
  .masthead_dropdown {
    display: block;
    text-align: center; } }

html {
  margin: 0; }

body {
  font-family: 'open-sans';
  background-color: #cccc;
  position: relative; }

li {
  list-style: none; }

.big_button {
  font-family: 'open-sans-bold';
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 12px;
  padding-top: 12px;
  background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 3px;
  border: none; }
  .big_button a {
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #1A1917; }

.button {
  text-align: center; }

.anchor {
  text-decoration: none;
  display: block;
  margin: 0; }

body > header > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap; }

body > header {
  padding-block-start: 9px;
  padding-block-end: 179px;
  padding-inline-start: 15px;
  padding-inline-end: 15px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 931px;
  height: 144.88px; }

h1 {
  margin: 0; }

@media (min-width: 1114px) {
  body > header > div {
    margin-inline-start: auto;
    margin-inline-end: auto;
    max-width: 1114px; } }

.header_nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column; }
  .header_nav li {
    padding: 10px; }
    .header_nav li a {
      font-family: 'open-sans-bold';
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #FFFFFF; }

[type="checkbox"] {
  visibility: hidden; }

body > header .navigation {
  padding: 1rem;
  background-color: red;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 200px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  transform: translateX(-110%);
  transition: transform 0.3s; }

[type="checkbox"]:checked ~ header nav {
  padding: 1rem;
  z-index: 3;
  top: 0;
  display: block;
  content: '';
  left: 10%;
  top: 20%;
  width: 250px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s;
  transform: translateX(-15%); }

body > [type="checkbox"]:checked ~ nav {
  transform: translateX(0); }

@media (min-width: 1114px) {
  body > header .navigation {
    padding: 0;
    background: none;
    box-shadow: none;
    transform: none;
    left: 321px;
    top: 43px;
    width: 0;
    height: 0; }
    body > header .navigation .header_nav {
      flex-direction: row;
      display: flex;
      justify-content: space-between; }
      body > header .navigation .header_nav li {
        margin: 6px;
        white-space: nowrap; }
  .icon_menu {
    display: none; } }

.question_header {
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: "bebas-neue-bold"; }

.section_heading {
  font-size: 33px;
  line-height: 33px;
  font-family: "bebas-neue-bold";
  letter-spacing: 2px;
  color: #FFFFFF; }

.article_text {
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF; }

@media (min-width: 1114px) {
  .question_header {
    font-size: 24px;
    line-height: 24px; }
  .section_heading {
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 3px; }
  .article_text {
    line-height: 22px; } }

.section_royal {
  padding: 15px; }
  .section_royal p:nth-of-type(2) {
    padding-block-start: 26px; }
  .section_royal h2 {
    padding-block-end: 33px;
    border-bottom: 1px solid #FFFFFF;
    margin: 0; }
  .section_royal .section_royal_wrapper {
    background-image: url(../img/royal-bg.png);
    background-repeat: no-repeat;
    background-size: cover; }

.royal-text {
  padding-inline-start: calc(36px - 15px); }

.royal_list_container {
  width: calc(225.09px + 37px);
  height: calc(273.33px + 51px);
  position: relative;
  padding-block-start: 37px;
  padding-block-end: 33px; }

.royal_image1 {
  position: absolute;
  z-index: 3;
  width: 100%;
  top: 0; }

.royal_image2 {
  position: absolute;
  z-index: 2;
  width: 100%;
  left: 47px;
  top: 0; }

.royal_image3 {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: calc(47px + 13px);
  top: 0; }
