@font-face {
  font-family: 'open-sans-bold';
  font-weight: 600;
  font-style: normal;
  src: url(../fonts/open-sans-bold.woff) format("woff"), url(../webroot/fonts/open-sans-bold.woff2) format("woff2"); }

@font-face {
  font-family: 'open-sans';
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/open-sans-regular.woff) format("woff"), url(../fonts/open-sans-regular.woff2) format("woff2"); }

@font-face {
  font-family: 'bebas-neue-regular';
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/bebas-neue-regular.woff) format("woff"), url(../fonts/bebas-neue-regular.woff2) format("woff2"); }

@font-face {
  font-family: 'bebas-neue-bold';
  font-weight: 600;
  font-style: normal;
  src: url(../fonts/bebas-neue-bold.woff) format("woff"), url(../fonts/bebas-neue-bold.woff2) format("woff2"); }

.section_masthead {
  padding: 15px; }

main > header {
  background-image: url(../img/bg-big-image-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 34% 40%; }

.masthead_navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-block-start: 156px;
  padding-block-end: 57px; }
  .masthead_navigation .masthead_dropdown {
    display: flex;
    flex-direction: column; }

.masthead_dropdown label {
  text-transform: uppercase; }

.masthead_dropdown select {
  background-color: rgba(0, 0, 0, 0);
  color: #FFFFFF;
  border: none; }
  .masthead_dropdown select option {
    background-color: #000000;
    color: #FFFFFF; }

.masthead_list_container {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .masthead_list_container li {
    padding: 12px; }
    .masthead_list_container li a {
      border: 0.97049px solid #FFFFFF;
      width: 12px;
      height: 12px;
      border-radius: 9999px; }
      .masthead_list_container li a span {
        display: none; }
    .masthead_list_container li .current_page {
      background-color: #FFFFFF; }
    .masthead_list_container li .arrow_next {
      border: none; }

.masthead_header {
  font-size: 33px;
  line-height: 33px;
  font-family: "bebas-neue-bold";
  letter-spacing: 2px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-block-start: 389px; }

.masthead_title {
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: "bebas-neue-bold";
  text-align: center;
  margin: 0;
  padding-block-start: 7px;
  padding-block-end: 7px;
  letter-spacing: 2px; }

@media (min-width: 1114px) {
  .masthead_navigation {
    justify-content: center;
    padding-block-start: 143px;
    padding-block-end: 64px; }
  .masthead_list_container {
    display: none; }
  .masthead_header {
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 3px;
    padding-block-end: 0; }
  .masthead_dropdown {
    display: block;
    text-align: center; } }

html {
  margin: 0; }

body {
  font-family: 'open-sans';
  background-color: #cccc;
  position: relative; }

li {
  list-style: none; }

.big_button a {
  font-family: 'open-sans-bold';
  background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 3px;
  display: inline-block;
  color: #1A1917; }

.medium_button a {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 12px;
  padding-top: 12px;
  font-size: 14px;
  text-align: center;
  line-height: 19px; }

.medium_button {
  text-align: center; }

.subcribe_button a {
  display: inline-block;
  padding-block-end: 15px;
  padding-block-start: 11px;
  padding-inline-end: calc(47px + 8px);
  padding-inline-start: calc(47px + 8px); }

@media (min-width: 1114px) {
  .medium_button a {
    padding-left: 16px;
    padding-right: 9px;
    padding-bottom: 20px;
    padding-top: 17px;
    font-size: 16px;
    line-height: 22px;
    margin-block-start: 28px; }
  .subcribe_button a {
    padding-inline-start: 70px;
    padding-inline-end: 73px;
    padding-block-end: 20px;
    padding-block-start: 17px; } }

.anchor {
  text-decoration: none;
  display: block;
  margin: 0; }

body > header .header_wrapper {
  position: absolute;
  left: 0px;
  top: 21px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-block-start: 9px; }

h1 {
  margin: 0;
  margin-inline-start: 10px;
  margin-block-start: 5px; }

.form ul {
  display: none; }

@media (min-width: 1114px) {
  body > header > .header_wrapper {
    margin: auto;
    max-width: 1114px; }
    body > header > .header_wrapper h1 {
      margin-inline-start: 119px; }
  .form {
    display: flex; }
    .form ul {
      display: flex;
      padding: 0;
      border-left: 0.873968px solid #cccc; }
      .form ul li {
        margin-inline-start: 17px; }
  .link_sos_logo svg {
    width: 50px;
    height: 50px; } }

.header_nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column; }
  .header_nav li {
    padding: 10px; }
    .header_nav li a {
      font-family: 'open-sans-bold';
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #FFFFFF; }

[type="checkbox"] {
  display: none; }

body > nav {
  padding: 1rem;
  background-color: #ffffff;
  position: absolute;
  z-index: 3;
  border-radius: .5rem;
  top: 2%;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 200px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  transform: translateX(-110%);
  transition: transform 0.3s;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

[type="checkbox"]:checked ~ body > nav {
  padding: 1rem;
  z-index: 3;
  top: 0;
  display: block;
  content: '';
  left: 10%;
  top: 20%;
  width: 250px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s;
  transform: translateX(-15%); }

body > [type="checkbox"]:checked ~ .navigation {
  transform: translateX(0); }

.dropdown {
  background-color: rgba(0, 0, 0, 0);
  color: #FFFFFF;
  border: none; }
  .dropdown option {
    background-color: #000000;
    color: #FFFFFF; }

@media (min-width: 1114px) {
  body > nav {
    padding: 0;
    background: none;
    box-shadow: none;
    transform: none;
    left: 321px;
    top: 43px;
    width: 0;
    height: 0; }
    body > nav .header_nav {
      flex-direction: row;
      display: flex; }
      body > nav .header_nav li {
        margin: 6px;
        white-space: nowrap; }
  .icon_menu {
    display: none; }
  .header_nav li {
    margin: 0;
    padding-block-end: 0;
    padding-block-start: 0;
    margin-inline-start: 10px; }
  .dropdown {
    margin-inline-end: 10px;
    border: none; }
  label,
  input {
    padding: 0; } }

p {
  padding-block-end: 12px;
  padding-block-start: 5px;
  color: #FFFFFF; }

h2 {
  padding-block-end: 22px; }

h2,
p {
  margin: 0; }

.question_header {
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: "bebas-neue-bold"; }

.section_heading {
  font-size: 33px;
  line-height: 33px;
  font-family: "bebas-neue-bold";
  letter-spacing: 2px;
  color: #FFFFFF; }

@media (min-width: 1114px) {
  .question_header {
    font-size: 24px;
    line-height: 24px; }
  .section_heading {
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 3px; } }

.section_royal {
  padding: 15px;
  background-image: url(../img/royal-bg.png);
  background-repeat: no-repeat;
  background-size: cover; }
  .section_royal .section_royal_wrapper {
    padding-block-end: 37px; }
  .section_royal p:nth-of-type(2) {
    padding-block-start: 26px; }
  .section_royal .images_container h2 {
    padding-block-end: 33px;
    border-bottom: 1px solid #FFFFFF;
    margin: 0; }
  .section_royal .royal_list_container {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: calc(100% * 273 / 249); }
    .section_royal .royal_list_container li {
      position: absolute; }
      .section_royal .royal_list_container li img {
        max-width: 100%;
        object-fit: cover;
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 0.5rem; }
  .section_royal .royal_list_container li:nth-of-type(1) {
    left: 0;
    top: 0;
    right: calc(100% * 24 / 249);
    z-index: 3; }
  .section_royal .royal_list_container li:nth-of-type(2) {
    transform: translateY(-50%) scale(calc(249 / 273));
    top: 55%;
    z-index: 2;
    right: calc(100% * 12 / 249);
    left: calc(100% * 12 / 249);
    transform-origin: 100% 0%; }
  .section_royal .royal_list_container li:nth-of-type(3) {
    top: 0%;
    transform-origin: 100% 0%;
    z-index: 1;
    padding-top: calc(100% * 24 / 249);
    left: calc(100% * 24 / 249);
    right: 0;
    transform: scale(calc((273 - 48) / 273)); }
  @media (min-width: 1114px) {
    .section_royal .section_royal_wrapper {
      max-width: 1114px;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 30px;
      padding-block-end: 265px;
      padding-block-start: 200px; }
    .section_royal .royal-text {
      padding-inline-start: calc(307px - 118px); }
    .section_royal .section_royal .images_container {
      padding-inline-start: 30px; } }

.feature_section {
  background-image: url(../img/features.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40%, 50%; }

.feature_wrapper {
  padding-block-end: 85px;
  padding-block-start: 82px;
  padding-inline-start: 15px;
  padding-inline-end: 15px; }
  .feature_wrapper ul {
    padding: 0; }

@media (min-width: 1114px) {
  .feature_wrapper {
    max-width: 1114px;
    margin: auto;
    padding-block-start: 256px;
    padding-block-end: 256px; } }

.system_section {
  background-image: url(../img/fea.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }

.system-wrapper {
  padding-block-start: 83px;
  padding-inline-end: 10px;
  padding-inline-start: 10px;
  padding-block-end: 262px; }

.system_list_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .system_list_container li {
    color: #FFFFFF; }
  .system_list_container li:nth-of-type(1) {
    grid-column: 1 / 1;
    grid-row: 1;
    padding: 8px;
    border: 0.5px solid #464545; }
  .system_list_container li:nth-of-type(2) {
    grid-column: 2 / 2;
    grid-row: 1;
    padding: 8px;
    border: 0.5px solid #464545; }
  .system_list_container li:nth-of-type(3) {
    grid-column: 1 / 1;
    grid-row: 2;
    padding: 8px;
    border: 0.5px solid #464545; }
  .system_list_container li:nth-of-type(4) {
    grid-column: 2 / 2;
    grid-row: 2;
    padding: 8px;
    border: 0.5px solid #464545; }
  .system_list_container li:nth-of-type(5) {
    grid-column: 1 / 3;
    grid-row: 3;
    padding: 8px;
    border: 0.5px solid #464545; }
  .system_list_container h4 {
    font-family: 'bebas-neue-bold';
    padding-top: 68px;
    text-align: left;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #FFB548;
    padding-top: 0;
    text-transform: uppercase; }

@media (min-width: 1114px) {
  .system_section {
    background-image: url(../img/system-bg.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover; }
  .system_list_container {
    padding-inline-end: calc(748px - 120px);
    padding-block-start: 133px;
    width: 573px; }
    .system_list_container .cell {
      padding: 0;
      padding-block-end: 16px; }
  .system-wrapper {
    max-width: 1114px;
    margin: auto; }
  .system_text_container > h2,
  .system_text_container > p {
    text-align: center; } }

.quotes_section {
  background-image: linear-gradient(black, black); }

.quotes_wrapper {
  padding-inline-end: 15px;
  padding-inline-start: 15px;
  padding-block-start: 38px;
  padding-block-end: 46px; }

@media (min-width: 1114px) {
  .quotes_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1114px;
    margin-inline-end: auto;
    margin-inline-start: auto;
    column-gap: 166px;
    padding-block-start: 0; }
  .quotes_information {
    padding-block-start: 303px; }
    .quotes_information .medium_button {
      text-align: start;
      margin-block-start: 37px; }
  .all_quotes {
    padding-block-start: 159px; }
    .all_quotes div:nth-of-type(2) {
      transform: translateX(-25%); }
    .all_quotes div:nht-of-type(3) {
      transform: translateX(-25%/2); } }

.quotes_lists {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding-inline-end: 12px;
  padding-block-start: 9px; }

.text_quotes_list {
  margin: 0;
  padding-block-end: 12px; }
  .text_quotes_list p {
    padding: 8px; }

.profile_photo {
  width: 61px;
  height: 61px;
  border-radius: 50%; }

.quotes_container {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  margin-block-start: 20px;
  margin-block-end: 20px; }
  .quotes_container > p {
    padding-inline-start: 17px; }

.quotes {
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF; }

.dates {
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5; }

.small {
  font-size: 14px;
  line-height: 22px;
  text-align: justify;
  color: #FFFFFF;
  opacity: 0.5; }

.names {
  font-family: 'bebas-neue-bold';
  font-size: 21px;
  line-height: 21px;
  letter-spacing: 2px;
  color: #FFB548;
  text-transform: uppercase; }

@media (min-width: 1114px) {
  .small {
    font-size: 18px;
    line-height: 22px; }
  .dates {
    font-size: 14px;
    line-height: 19px; }
  .quotes {
    font-size: 18px;
    line-height: 25px; }
  .names {
    font-size: 24px;
    line-height: 24px; } }

.section_newsletter {
  padding-inline-end: 15px;
  padding-inline-start: 15px;
  padding-block-start: 33px;
  padding-block-end: 61px;
  background: linear-gradient(145deg, black, black), url(../img/newsletter.png);
  background-size: cover, auto 100%;
  background-repeat: no-repeat;
  background-position: 0 0, -10px 80%; }

.newsletter {
  padding-inline-start: calc((230px / 2) + 15px); }

@media (min-width: 1114px) {
  .newsletter_wrapper {
    max-width: 1114px;
    margin: auto;
    padding-block-end: 49px; }
  .newsletter {
    padding-inline-start: 600px;
    padding-block-start: 220px; }
  .section_newsletter {
    padding: 0;
    background-image: radial-gradient(45.43% 53.19% at 50% 50%, rgba(255, 225, 225, 0) 0%, rgba(0, 0, 0, 0) 46.15%, #080A0B 99.74%), url(../img/newsletter_bg.png), linear-gradient(black, black);
    background-repeat: no-repeat;
    background-position: -90% 20%, -90% 30%, 0 0;
    background-size: cover; } }

.subscribe_form {
  padding: 0; }
  .subscribe_form li:nth-of-type(1) {
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    margin-block-start: 16px;
    margin-block-end: 16px; }

label {
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
  border-radius: 4px;
  font-size: 12px;
  line-height: 16px; }

label,
input {
  padding-block-start: 3px;
  padding-block-end: 3px;
  padding-inline-start: 16px; }

input {
  background-color: rgba(255, 255, 255, 0);
  border: none; }

::placeholder {
  font-size: 14px;
  line-height: 19px;
  color: #FFB548; }

@media (min-width: 1114px) {
  label {
    font-size: 14px;
    line-height: 19px; }
  ::placeholder {
    font-size: 18px;
    line-height: 25px; }
  label,
  input {
    padding-block-start: 6px;
    padding-block-end: 6px;
    padding-inline-start: 21px;
    padding-inline-end: 60px; }
  .subscribe_form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
    .subscribe_form li:nth-of-type(1) {
      margin-block-start: 0;
      margin-block-end: 0;
      margin-inline-start: 10px; }
    .subscribe_form li:nth-of-type(2) {
      margin-inline-start: 10px; } }

body > footer {
  background-color: rgba(0, 0, 0, 0.822); }

.footer_wrapper {
  padding-inline-start: 15px;
  padding-inline-end: 15px;
  padding-block-end: 63px;
  padding-block-start: 26px; }

footer nav {
  border-bottom: 0.87397px solid #FFFFFF; }

.icon_footer {
  text-align: center; }

@media (min-width: 1114px) {
  .footer_wrapper {
    max-width: 1114px;
    margin-inline-end: auto;
    margin-inline-start: auto; }
  footer nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
  .link_logo_footer img {
    width: 91px;
    height: 91px; }
  .icon_footer {
    text-align: start; } }

.link_icon__lists {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0; }

@media (min-width: 1114px) {
  .link_icon__lists {
    margin: 0; }
  .nav_icon_container ul {
    margin-block-start: 43px; } }

.link_text__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0; }

footer ul a {
  font-family: 'open-sans-bold';
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF; }

.nav_text_container {
  padding-block-start: 42px;
  padding-block-end: 42px; }
  .nav_text_container ul:nth-of-type(1) {
    margin-block-end: 21px; }

.paragrap_footer {
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
  text-align: center;
  margin: 0;
  padding-block-start: 14px;
  padding-block-end: 14px; }

.link_more_information {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0; }
  .link_more_information li {
    padding-block-start: 10px;
    padding-block-end: 10px; }

@media (min-width: 1114px) {
  .nav_text_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0; }
    .nav_text_container ul:nth-child(1) {
      margin-block-end: 0; }
    .nav_text_container > ul {
      margin: 0; }
      .nav_text_container > ul li {
        white-space: nowrap;
        margin: 21px; }
  .more_navigations {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .more_navigations ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .more_navigations ul li {
        margin-inline-end: 21px; }
  .paragrap_footer {
    padding: 0;
    margin-block-start: 27px; } }

summary {
  font-size: 21px;
  line-height: 21px;
  letter-spacing: 2px;
  color: #FFB548;
  text-transform: uppercase;
  font-family: 'bebas-neue-bold';
  padding-block-end: 43px;
  padding-block-start: 42px; }

.feature_text_container {
  padding-inline-start: 116px; }

@media (min-width: 1114px) {
  .feature_text_container {
    padding-inline-start: calc(809px - 239px); }
  summary {
    font-size: 36px;
    line-height: 36px; } }

.cell {
  font-size: 14px;
  line-height: 16px; }

.text_information {
  font-size: 14px;
  line-height: 16px;
  margin-block-start: 37px; }

@media (min-width: 1114px) {
  .cell {
    font-size: 18px;
    line-height: 22px; }
  .text_information {
    font-size: 18px;
    line-height: 22px; } }

.royal-text {
  padding-inline-start: calc(36px - 15px); }

@media (min-width: 1114px) {
  .royal-text {
    padding-inline-start: calc(307px - 118px); }
  .text_container {
    max-width: calc(410px + 170px); } }

:root {
  --default-color: #ffffff; }

details {
  position: relative; }

summary::-webkit-details-marker {
  display: none; }

summary::before {
  content: '';
  position: absolute;
  border: 2px solid var(--default-color);
  border-radius: 50%;
  top: 3rem;
  left: -2rem;
  padding: 8px; }

details[open]:not(:last-child)::before {
  content: '';
  position: absolute;
  color: var(--default-color);
  top: 0px;
  left: 0.5rem;
  border: 2px solid var(--default-color);
  height: 100%; }

details[open] summary::before {
  background-color: var(--default-color); }

details::before {
  content: '';
  width: 2px;
  height: 100%;
  background-color: var(--default-color);
  top: 3rem;
  left: -1.5rem;
  position: absolute;
  display: block; }

.feature_section ul li:last-child details::before {
  bottom: auto;
  height: auto; }
